[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
dj-database-url = "*"
python-decouple = "*"
django-heroku = "*"
whitenoise = "*"
cloudinary = "*"
django-bootstrap3 = "*"
psycopg2 = "*"
pillow = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"
