[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
pillow = "*"
django-heroku = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
pytz = "*"
gunicorn = "*"
fields = "*"

[dev-packages]

[requires]
python_version = "3.8"
